# Python кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (если вы его используете)
venv/
.venv/
env/
.env/
*/venv/
*/.venv/
*/env/
*/.env/

# Файлы IDE и редакторов
.vscode/
.idea/
*.swp

# Зависимости и сборки
*.egg-info/
dist/
build/